services:
  jenkins:
    build: .
    image: jenkins-hwc:1.0
    container_name: jenkins-hwc
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      - ./casc.yaml:/var/jenkins_home/casc.yaml:ro
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
      - JENKINS_ADMIN_ID=alejandro
      - JENKINS_ADMIN_PASSWORD=ingE2004#
      - AWS_RESPONSE_CHECKSUM_VALIDATION=when_required
      - AWS_REQUEST_CHECKSUM_CALCULATION=when_required
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc.yaml
      - GITHUB_USER=alejandromore
    secrets:
      - github_token
      - hwc_access_key
      - hwc_secret_key
    restart: unless-stopped

volumes:
  jenkins_data:

secrets:
  github_token:
    file: ./secrets/github_token.txt
  hwc_access_key:
    file: ./secrets/hwc_access_key.txt
  hwc_secret_key:
    file: ./secrets/hwc_secret_key.txt
