apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      containers:
        - name: jenkins
          image: "{{ .Values.image.registry }}/{{ .Values.image.namespace }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
          env:
            - name: JAVA_OPTS
              value: "{{ .Values.jenkins.javaOpts }}"
            - name: CASC_JENKINS_CONFIG
              value: "/var/jenkins_home/casc.yaml"
          envFrom:
            - secretRef:
                name: jenkins-secrets
          volumeMounts:
            - name: casc-volume
              mountPath: /var/jenkins_home/casc.yaml
              subPath: casc.yaml   # monta solo el archivo
      volumes:
        - name: casc-volume
          configMap:
            name: jenkins-casc
