services:
  jmeter-server:
    image: justb4/jmeter:latest
    container_name: jmeter-server
    restart: always
    environment:
      - JVM_ARGS=-Xms1g -Xmx2g
      - HOST_IP=${HOST_IP}           # IP pública del ECS
      - MODE=server                  # ⚡ arranca en modo server NON-GUI
      - SERVER_RMI_SSL_DISABLE=true
      - RMI_LOCAL_PORT=50000
    ports:
      - "1099:1099"
      - "50000:50000"
    volumes:
      - ./tests:/tests
