apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sfs-static-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: sfsturbo
  volumeName: pv-sfsturbo
