apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deployment.name }}
  namespace: {{ .Values.controller.namespace }}
  labels:
    app: {{ .Values.deployment.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.deployment.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.deployment.name }}
    spec:
      securityContext:
        fsGroup: 1000

      containers:
        - name: {{ .Values.deployment.name }}
          image: {{ .Values.controller.image }}
          imagePullPolicy: IfNotPresent

          ports:
            - name: http
              containerPort: 8080
            - name: agent
              containerPort: 50000

          resources:
            requests:
              cpu: {{ .Values.controller.resources.requests.cpu }}
              memory: {{ .Values.controller.resources.requests.memory }}
            limits:
              cpu: {{ .Values.controller.resources.limits.cpu }}
              memory: {{ .Values.controller.resources.limits.memory }}

          volumeMounts:
            - name: jenkins-home
              mountPath: /var/jenkins_home

          livenessProbe:
            httpGet:
              path: /login
              port: 8080
            initialDelaySeconds: 90
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5

          readinessProbe:
            httpGet:
              path: /login
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3

      volumes:
        - name: jenkins-home
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.pvcName }}
