{{- if .Values.persistence.enabled }}
apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    pv.kubernetes.io/provisioned-by: {{ .Values.persistence.storageProvisioner }}
  name: {{ .Values.persistence.pvName }}
spec:
  accessModes:
  - ReadWriteMany      
  capacity:
    storage: {{ .Values.persistence.size }}
  csi:
    driver: {{ .Values.persistence.driver }}
    fsType: nfs
    volumeHandle: {{ .Values.persistence.sfsId }}   # SFS Turbo volume ID
    volumeAttributes:
      everest.io/share-export-location: {{ .Values.persistence.sfsTurboSharedPath }}   # Shared path of the SFS Turbo volume
      everest.io/enterprise-project-id: {{ .Values.enterpriseProjectId }}  # Enterprise project ID of the SFS Turbo volume
      storage.kubernetes.io/csiProvisionerIdentity: {{ .Values.persistence.storageProvisioner }}  # Identity of the CSI provisioner
  persistentVolumeReclaimPolicy: Retain    # Reclaim policy
  storageClassName: {{ .Values.persistence.className }}          # StorageClass name of the SFS Turbo file system
  mountOptions: []                         # Mount options
{{- end }}
