apiVersion: v1
kind: Pod
metadata:
  name: pod-agency-test
  namespace: default
spec:
  serviceAccountName: obs-dew-sa
  containers:
    - name: tester
      image: alpine:latest
      command: ["/bin/sh", "-c", "sleep 3600"]
