apiVersion: v1
kind: Pod
metadata:
  name: pod-agency-test
  namespace: default
spec:
  serviceAccountName: obs-dew-sa
  containers:
    - name: tester
      image: ubuntu:22.04
      command:
        - /bin/bash
        - -c
        - |
          apt update && \
          apt install -y wget tar ca-certificates && \
          wget https://obs-community.obs.myhuaweicloud.com/obsutil/current/obsutil_linux_amd64.tar.gz && \
          sleep 3600
