JAVA_OPTS="
-Xms2g
-Xmx4g
-XX:+UseG1GC
-Djenkins.install.runSetupWizard=false
-Dorg.eclipse.jetty.server.threadPool.maxThreads=500
-Dorg.eclipse.jetty.server.threadPool.minThreads=20
"

CASC_JENKINS_CONFIG=/var/jenkins_home/casc.yaml

DOCKER_HOST=unix:///var/run/docker.sock