JAVA_OPTS=-Djenkins.install.runSetupWizard=false

CASC_JENKINS_CONFIG=/var/jenkins_home/casc.yaml

JENKINS_ADMIN_ID={{ jenkins_admin_user }}
JENKINS_ADMIN_PASSWORD={{ jenkins_admin_password }}

DOCKER_HOST=unix:///var/run/docker.sock