apiVersion: v1
kind: Service
metadata:
  name: config-server
spec:
  selector:
    app: config-server
  ports:
    - protocol: TCP
      port: {{ .Values.configServer.port }}
      targetPort: {{ .Values.configServer.port }}
  type: ClusterIP
