apiVersion: v1
kind: ConfigMap
metadata:
  name: cm-obsutil-setup
data:
  setup-obs.sh: |
    #!/bin/bash
    set -e
    export DEBIAN_FRONTEND=noninteractive
    apt-get update && apt-get install -y curl tar ca-certificates
    
    echo "Descargando obsutil..."
    curl -Lk "https://obs-community.obs.myhuaweicloud.com/obsutil/current/obsutil_linux_amd64.tar.gz" -o obsutil_linux_amd64.tar.gz
    
    tar -xzvf obsutil_linux_amd64.tar.gz
    FOLDER=$(ls -d obsutil_linux_amd64_*)
    mv $FOLDER/obsutil /usr/local/bin/
    chmod +x /usr/local/bin/obsutil
    
    # 1. Definir variables de identidad (Deben coincidir con tu Terraform de IAM)
    IDP_ID="cce-workload-identity"
    AGENCY_NAME="ecs-obs-dew-agency"
    TOKEN_PATH="/var/run/secrets/tokens/huaweicloud-token"
    REGION="la-south-2"

    echo "Configurando obsutil con Workload Identity..."

    # 2. Configurar obsutil para usar el token de Kubernetes (OIDC)
    # autoChooseSecurityProvider=true intentará usar el token si los campos están presentes
    obsutil config \
      -i=$IDP_ID \
      -k=$AGENCY_NAME \
      -e=obs.${REGION}.myhuaweicloud.com \
      -tokenFile=$TOKEN_PATH \
      -method=oidc

    echo "Verificando acceso a OBS..."
    obsutil ls
    
    echo "Setup finalizado."
