apiVersion: v1
kind: Pod
metadata:
  name: pod-obs-test
spec:
  # 1. Asociamos el ServiceAccount que mapeamos en las reglas de IAM
  serviceAccountName: sa-obs 
  containers:
  - name: pod-obs-test
    image: ubuntu:latest 
    command: ["/bin/bash", "-c", "/opt/scripts/setup-obs.sh && tail -f /dev/null"]
    volumeMounts:
    - name: script-volume
      mountPath: /opt/scripts
  volumes:
  - name: script-volume
    configMap:
      name: cm-obsutil-setup
      defaultMode: 0755