apiVersion: v1
kind: ConfigMap
metadata:
  name: cm-hcloud-setup
data:
  setup-hcloud.sh: |
    #!/bin/bash
    set -e

    echo "Installing prerequisites..."
    apt update
    apt install -y curl jq

    echo "Installing Huawei Cloud CLI..."
    curl -sSL https://ap-southeast-3-hwcloudcli.obs.ap-southeast-3.myhuaweicloud.com/cli/latest/hcloud_install.sh \
      -o /tmp/hcloud_install.sh
    chmod +x /tmp/hcloud_install.sh
    echo "y" | /tmp/hcloud_install.sh -y
    rm -f /tmp/hcloud_install.sh

    CREDS=$(curl -s http://169.254.169.254/openstack/latest/securitykey)

    AK=$(echo $CREDS | jq -r .credential.access)
    SK=$(echo $CREDS | jq -r .credential.secret)
    TOKEN=$(echo $CREDS | jq -r .credential.securitytoken)

    REGION="la-south-2"

    echo "Configuring hcloud..."
    echo "AK: $AK"
    echo "SK: $SK"
    echo "Token: $TOKEN"
    echo "Region: $REGION"

    # Aceptar términos automáticamente
    echo "y" | hcloud configure set \
      --ak=${AK} \
      --sk=${SK} \
      --region=${REGION} \
      --security-token=${TOKEN}

    echo "Listing secrets..."

    hcloud CSMS ListSecrets --region=${REGION}

    echo "Setup finalizado."
