[Unit]
Description={{ app_name }}
After=network.target

[Service]
Type=simple
User={{ app_user }}
WorkingDirectory={{ app_install_dir }}
ExecStart=/usr/bin/java -jar {{ app_install_dir }}/{{ app_jar_name }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target