services:
  jmeter-server:
    image: {{ jmeter_image_name }}:{{ jmeter_image_tag }}
    container_name: jmeter-server
    restart: always
    ports:
      - "1099:1099"
      - "50000:50000"
    environment:
      - IP={{ ansible_host }}
      - JVM_ARGS=-Dserver.rmi.ssl.disable=true
    command: 
      - "-s"
      - "-Dserver.rmi.localport=50000"
      - "-Dserver_port=1099"
      - "-Dserver.rmi.ssl.disable=true"
      - "-Djava.rmi.server.hostname={{ ansible_host }}"
