version: '3.8'

services:
  jmeter-server:
    image: justb4/jmeter:latest
    container_name: jmeter-server
    restart: always
    ports:
      - "1099:1099"      # Puerto RMI Registry
      - "50000:50000"    # Puerto de datos RMI
    environment:
      - IP={{ ansible_host }}
      - JVM_ARGS=-Dserver.rmi.ssl.disable=true
    command: 
      - "-s"
      - "-Dserver.rmi.localport=50000"
      - "-Dserver_port=1099"
      - "-Dserver.rmi.ssl.disable=true"
      - "-Djava.rmi.server.hostname={{ ansible_host }}"

